# Training model for Life Expectency dataset

In [48]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [49]:
data = pd.read_csv(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\Life Expectancy Data.csv')

In [50]:
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [51]:
data.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [52]:
data.notnull().sum()

Country                            2938
Year                               2938
Status                             2938
Life expectancy                    2928
Adult Mortality                    2928
infant deaths                      2938
Alcohol                            2744
percentage expenditure             2938
Hepatitis B                        2385
Measles                            2938
 BMI                               2904
under-five deaths                  2938
Polio                              2919
Total expenditure                  2712
Diphtheria                         2919
 HIV/AIDS                          2938
GDP                                2490
Population                         2286
 thinness  1-19 years              2904
 thinness 5-9 years                2904
Income composition of resources    2771
Schooling                          2775
dtype: int64

In [53]:
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [54]:
data['GDP']

0       584.259210
1       612.696514
2       631.744976
3       669.959000
4        63.537231
           ...
2933    454.366654
2934    453.351155
2935     57.348340
2936    548.587312
2937    547.358878
Name: GDP, Length: 2938, dtype: float64

car['horsepower'].fillna(0, inplace=True)
Alcohol 
Hepatitis B 
Total expenditure
Income composition of resources
Schooling

In [55]:
# Fill the missing values with the median of the column
print(data['Alcohol'].median())
data['Alcohol'].fillna(data['Alcohol'].median()).count()

3.755

2938

In [56]:
print(data['Hepatitis B'].median())
data['Hepatitis B'].fillna(data['Hepatitis B'].median()).count()

92.0

2938

In [57]:
print(data['Total expenditure'].median())
data['Total expenditure'].fillna(data['Total expenditure'].median()).count()

5.755

2938

In [58]:
print(data['Income composition of resources'].median())
data['Income composition of resources'].fillna(data['Income composition of resources'].median()).count()

0.677

2938

In [59]:
print(data['Schooling'].median())
data['Schooling'].fillna(data['Schooling'].median()).count()

12.3

2938

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [61]:
data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [62]:
label_encoder = LabelEncoder()

In [63]:
# Transform the 'Country' column
data['Country_Code'] = label_encoder.fit_transform(data['Country'])

# Check the result
data[['Country', 'Country_Code']]

          Country  Country_Code
0     Afghanistan             0
1     Afghanistan             0
2     Afghanistan             0
3     Afghanistan             0
4     Afghanistan             0
...           ...           ...
2933     Zimbabwe           192
2934     Zimbabwe           192
2935     Zimbabwe           192
2936     Zimbabwe           192
2937     Zimbabwe           192

[2938 rows x 2 columns]

In [64]:
data['Country_Label'] = label_encoder.inverse_transform(data['Country_Code'])


print(data[['Country', 'Country_Code', 'Country_Label']].head())

       Country  Country_Code Country_Label
0  Afghanistan             0   Afghanistan
1  Afghanistan             0   Afghanistan
2  Afghanistan             0   Afghanistan
3  Afghanistan             0   Afghanistan
4  Afghanistan             0   Afghanistan

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
 22  Country_Code                     2938 non-null   int32
 23  Country_Label                    2938 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 539.5+ KB

In [66]:
print(data)

          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Diphtheria    HIV/AIDS         GDP  Population  \
0     ...         65.0        0.1  584.259210  33736494.0
1     ...         62.0        0.1  612.696514    327582.0
2     ...         64.0        0.1  631.744976  31731688.0
3     ...         67.0        0.1  669.959000   3696958.0
4     ...         68.0        0.1   63.537231   2978599.0
...   ...          ...        ...         ...         ...
2933  ...         65.0       33.6  454.366654  12777511.0
2934  ...         68.0       36.7  453.351155  12633897.0
2935  ...         71.0       39.8   57.348340    125525.0
2936  ...         75.0       42.1  548.587312  12366165.0
2937  ...         78.0       43.5  547.358878  12222251.0

       thinness  1-19 years   thinness 5-9 years  \
0                      17.2                 17.3
1                      17.5                 17.5
2                      17.7                 17.7
3                      17.9                 18.0
4                      18.2                 18.2
...                     ...                  ...
2933                    9.4                  9.4
2934                    9.8                  9.9
2935                    1.2                  1.3
2936                    1.6                  1.7
2937                   11.0                 11.2

      Income composition of resources  Schooling  Country_Code  Country_Label
0                               0.479       10.1             0    Afghanistan
1                               0.476       10.0             0    Afghanistan
2                               0.470        9.9             0    Afghanistan
3                               0.463        9.8             0    Afghanistan
4                               0.454        9.5             0    Afghanistan
...                               ...        ...           ...            ...
2933                            0.407        9.2           192       Zimbabwe
2934                            0.418        9.5           192       Zimbabwe
2935                            0.427       10.0           192       Zimbabwe
2936                            0.427        9.8           192       Zimbabwe
2937                            0.434        9.8           192       Zimbabwe

[2938 rows x 24 columns]

In [69]:
data['Country_Code']

0         0
1         0
2         0
3         0
4         0
       ...
2933    192
2934    192
2935    192
2936    192
2937    192
Name: Country_Code, Length: 2938, dtype: int32