In [230]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np
from sklearn.linear_model import LinearRegression

In [231]:
df = pd.read_csv(r'C:\Users\dilib.DESKTOP-NB2EC10\Downloads\YKGOEi.csv')

In [232]:
# Strip whitespace from each column name
df.columns = df.columns.str.strip()
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [233]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [234]:
df.tail()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [235]:
df.notnull().sum()

Country                            2938
Year                               2938
Status                             2938
Life expectancy                    2928
Adult Mortality                    2928
infant deaths                      2938
Alcohol                            2744
percentage expenditure             2938
Hepatitis B                        2385
Measles                            2938
BMI                                2904
under-five deaths                  2938
Polio                              2919
Total expenditure                  2712
Diphtheria                         2919
HIV/AIDS                           2938
GDP                                2490
Population                         2286
thinness  1-19 years               2904
thinness 5-9 years                 2904
Income composition of resources    2771
Schooling                          2775
dtype: int64

In [236]:
# Fill the missing values with the median of the column
print(df['Alcohol'].median())
df['Alcohol'].fillna(df['Alcohol'].median(),inplace=True)

3.755

C:\Users\dilib.DESKTOP-NB2EC10\AppData\Local\Temp\ipykernel_11556\2196363743.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Alcohol'].fillna(df['Alcohol'].median(),inplace=True)

In [237]:
print(df['Hepatitis B'].median())
df['Hepatitis B'].fillna(df['Hepatitis B'].median(),inplace=True)

92.0

C:\Users\dilib.DESKTOP-NB2EC10\AppData\Local\Temp\ipykernel_11556\2255092582.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Hepatitis B'].fillna(df['Hepatitis B'].median(),inplace=True)

In [238]:
print(df['Total expenditure'].median())
df['Total expenditure'].fillna(df['Total expenditure'].median(),inplace=True)

5.755

C:\Users\dilib.DESKTOP-NB2EC10\AppData\Local\Temp\ipykernel_11556\132051386.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total expenditure'].fillna(df['Total expenditure'].median(),inplace=True)

In [239]:
print(df['Income composition of resources'].median())
df['Income composition of resources'].fillna(df['Income composition of resources'].median(),inplace=True)

0.677

C:\Users\dilib.DESKTOP-NB2EC10\AppData\Local\Temp\ipykernel_11556\3439010664.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income composition of resources'].fillna(df['Income composition of resources'].median(),inplace=True)

In [240]:
print(df['Life expectancy'].median())
df['Life expectancy'].fillna(df['Life expectancy'].median(),inplace=True)

72.1

C:\Users\dilib.DESKTOP-NB2EC10\AppData\Local\Temp\ipykernel_11556\3186645930.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Life expectancy'].fillna(df['Life expectancy'].median(),inplace=True)

In [241]:
print(df['Schooling'].median())
df['Schooling'].fillna(df['Schooling'].median(),inplace=True)

12.3

C:\Users\dilib.DESKTOP-NB2EC10\AppData\Local\Temp\ipykernel_11556\1559399952.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Schooling'].fillna(df['Schooling'].median(),inplace=True)

In [242]:
df['Life expectancy'].isna().sum()

0

In [243]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [244]:
label_encoder = LabelEncoder()

In [245]:
# Transform the 'Country' column
df['Country_Code'] = label_encoder.fit_transform(df['Country'])

# Check the result
df[['Country', 'Country_Code']]

          Country  Country_Code
0     Afghanistan             0
1     Afghanistan             0
2     Afghanistan             0
3     Afghanistan             0
4     Afghanistan             0
...           ...           ...
2933     Zimbabwe           192
2934     Zimbabwe           192
2935     Zimbabwe           192
2936     Zimbabwe           192
2937     Zimbabwe           192

[2938 rows x 2 columns]

In [246]:
df['Country_Label'] = label_encoder.inverse_transform(df['Country_Code'])


print(df[['Country', 'Country_Code', 'Country_Label']].head())

       Country  Country_Code Country_Label
0  Afghanistan             0   Afghanistan
1  Afghanistan             0   Afghanistan
2  Afghanistan             0   Afghanistan
3  Afghanistan             0   Afghanistan
4  Afghanistan             0   Afghanistan

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2938 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2938 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2938 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2938 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness  1-19 years             2904 non-null   float64
 19  thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2938 non-null   float64
 21  Schooling                        2938 non-null   float64
 22  Country_Code                     2938 non-null   int32
 23  Country_Label                    2938 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 539.5+ KB

In [248]:
X = df.drop(columns=['Country_Label','Country','Status'],axis=1)

In [249]:
y = df['Life expectancy']

In [250]:
scaler = StandardScaler()

In [251]:
X_scaled = scaler.fit_transform(X)
X_scaled

array([[ 1.6217623 , -0.44540826,  0.79023802, ..., -0.73797341,
        -0.58501698, -1.69079705],
       [ 1.40498625, -0.98182707,  0.85461353, ..., -0.75260009,
        -0.61564876, -1.69079705],
       [ 1.1882102 , -0.98182707,  0.83047271, ..., -0.78185344,
        -0.64628054, -1.69079705],
       ...,
       [-1.19632639, -2.57004747, -0.73868044, ..., -0.99150247,
        -0.61564876,  1.72311476],
       [-1.41310244, -2.51745739,  4.19409332, ..., -0.99150247,
        -0.67691233,  1.72311476],
       [-1.62987849, -2.44383128,  4.02510759, ..., -0.95737356,
        -0.67691233,  1.72311476]])

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2938 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2938 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2938 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2938 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness  1-19 years             2904 non-null   float64
 19  thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2938 non-null   float64
 21  Schooling                        2938 non-null   float64
 22  Country_Code                     2938 non-null   int32
 23  Country_Label                    2938 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 539.5+ KB

In [253]:
df.dropna(inplace=True)
df.info(
    
)

<class 'pandas.core.frame.DataFrame'>
Index: 2230 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2230 non-null   object
 1   Year                             2230 non-null   int64
 2   Status                           2230 non-null   object
 3   Life expectancy                  2230 non-null   float64
 4   Adult Mortality                  2230 non-null   float64
 5   infant deaths                    2230 non-null   int64
 6   Alcohol                          2230 non-null   float64
 7   percentage expenditure           2230 non-null   float64
 8   Hepatitis B                      2230 non-null   float64
 9   Measles                          2230 non-null   int64
 10  BMI                              2230 non-null   float64
 11  under-five deaths                2230 non-null   int64
 12  Polio                            2230 non-null   float64
 13  Total expenditure                2230 non-null   float64
 14  Diphtheria                       2230 non-null   float64
 15  HIV/AIDS                         2230 non-null   float64
 16  GDP                              2230 non-null   float64
 17  Population                       2230 non-null   float64
 18  thinness  1-19 years             2230 non-null   float64
 19  thinness 5-9 years               2230 non-null   float64
 20  Income composition of resources  2230 non-null   float64
 21  Schooling                        2230 non-null   float64
 22  Country_Code                     2230 non-null   int32
 23  Country_Label                    2230 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 426.8+ KB

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2230 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2230 non-null   object
 1   Year                             2230 non-null   int64
 2   Status                           2230 non-null   object
 3   Life expectancy                  2230 non-null   float64
 4   Adult Mortality                  2230 non-null   float64
 5   infant deaths                    2230 non-null   int64
 6   Alcohol                          2230 non-null   float64
 7   percentage expenditure           2230 non-null   float64
 8   Hepatitis B                      2230 non-null   float64
 9   Measles                          2230 non-null   int64
 10  BMI                              2230 non-null   float64
 11  under-five deaths                2230 non-null   int64
 12  Polio                            2230 non-null   float64
 13  Total expenditure                2230 non-null   float64
 14  Diphtheria                       2230 non-null   float64
 15  HIV/AIDS                         2230 non-null   float64
 16  GDP                              2230 non-null   float64
 17  Population                       2230 non-null   float64
 18  thinness  1-19 years             2230 non-null   float64
 19  thinness 5-9 years               2230 non-null   float64
 20  Income composition of resources  2230 non-null   float64
 21  Schooling                        2230 non-null   float64
 22  Country_Code                     2230 non-null   int32
 23  Country_Label                    2230 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 426.8+ KB

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2230 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2230 non-null   object
 1   Year                             2230 non-null   int64
 2   Status                           2230 non-null   object
 3   Life expectancy                  2230 non-null   float64
 4   Adult Mortality                  2230 non-null   float64
 5   infant deaths                    2230 non-null   int64
 6   Alcohol                          2230 non-null   float64
 7   percentage expenditure           2230 non-null   float64
 8   Hepatitis B                      2230 non-null   float64
 9   Measles                          2230 non-null   int64
 10  BMI                              2230 non-null   float64
 11  under-five deaths                2230 non-null   int64
 12  Polio                            2230 non-null   float64
 13  Total expenditure                2230 non-null   float64
 14  Diphtheria                       2230 non-null   float64
 15  HIV/AIDS                         2230 non-null   float64
 16  GDP                              2230 non-null   float64
 17  Population                       2230 non-null   float64
 18  thinness  1-19 years             2230 non-null   float64
 19  thinness 5-9 years               2230 non-null   float64
 20  Income composition of resources  2230 non-null   float64
 21  Schooling                        2230 non-null   float64
 22  Country_Code                     2230 non-null   int32
 23  Country_Label                    2230 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 426.8+ KB

In [256]:


X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [257]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2230 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2230 non-null   object
 1   Year                             2230 non-null   int64
 2   Status                           2230 non-null   object
 3   Life expectancy                  2230 non-null   float64
 4   Adult Mortality                  2230 non-null   float64
 5   infant deaths                    2230 non-null   int64
 6   Alcohol                          2230 non-null   float64
 7   percentage expenditure           2230 non-null   float64
 8   Hepatitis B                      2230 non-null   float64
 9   Measles                          2230 non-null   int64
 10  BMI                              2230 non-null   float64
 11  under-five deaths                2230 non-null   int64
 12  Polio                            2230 non-null   float64
 13  Total expenditure                2230 non-null   float64
 14  Diphtheria                       2230 non-null   float64
 15  HIV/AIDS                         2230 non-null   float64
 16  GDP                              2230 non-null   float64
 17  Population                       2230 non-null   float64
 18  thinness  1-19 years             2230 non-null   float64
 19  thinness 5-9 years               2230 non-null   float64
 20  Income composition of resources  2230 non-null   float64
 21  Schooling                        2230 non-null   float64
 22  Country_Code                     2230 non-null   int32
 23  Country_Label                    2230 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 426.8+ KB

In [258]:
model = LinearRegression()
model.fit(X_train, y_train)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:

print(np.isnan(X_scaled).sum())

1250

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2230 entries, 0 to 2937
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2230 non-null   object
 1   Year                             2230 non-null   int64
 2   Status                           2230 non-null   object
 3   Life expectancy                  2230 non-null   float64
 4   Adult Mortality                  2230 non-null   float64
 5   infant deaths                    2230 non-null   int64
 6   Alcohol                          2230 non-null   float64
 7   percentage expenditure           2230 non-null   float64
 8   Hepatitis B                      2230 non-null   float64
 9   Measles                          2230 non-null   int64
 10  BMI                              2230 non-null   float64
 11  under-five deaths                2230 non-null   int64
 12  Polio                            2230 non-null   float64
 13  Total expenditure                2230 non-null   float64
 14  Diphtheria                       2230 non-null   float64
 15  HIV/AIDS                         2230 non-null   float64
 16  GDP                              2230 non-null   float64
 17  Population                       2230 non-null   float64
 18  thinness  1-19 years             2230 non-null   float64
 19  thinness 5-9 years               2230 non-null   float64
 20  Income composition of resources  2230 non-null   float64
 21  Schooling                        2230 non-null   float64
 22  Country_Code                     2230 non-null   int32
 23  Country_Label                    2230 non-null   object
dtypes: float64(16), int32(1), int64(4), object(3)
memory usage: 426.8+ KB

In [ ]:
print("NaN values:", np.isnan(X_train).sum())

NaN values: 978

In [ ]:
print(X_train.info())

AttributeError: 'numpy.ndarray' object has no attribute 'info'

print(X_train.shape)

In [260]:
X_train.isnull().sum()

AttributeError: 'numpy.ndarray' object has no attribute 'isnull'

In [261]:
X_train

array([[-0.11244612,  0.3224069 , -0.31219266, ..., -0.13827968,
        -0.03364491, -1.19293491],
       [-1.41310244,  0.39603301, -0.10297224, ..., -0.33330203,
        -0.30933095, -1.19293491],
       [ 0.75465809,  0.56432127, -0.17539469, ...,  0.50041853,
         0.2726729 ,  0.85185601],
       ...,
       [-0.11244612, -0.78198477,  0.81437883, ..., -0.84036015,
        -1.10575727, -0.41058012],
       [-0.97955033,  1.12177611, -0.74672738, ...,  1.02697888,
         1.03846744, -0.23277222],
       [-0.54599823, -1.03441715, -1.05251107, ..., -3.07336609,
        -2.02471071, -0.71285356]])