In [321]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [322]:
df = pd.read_csv(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\Car details v3.csv')

In [323]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   mileage        7907 non-null   object
 8   engine         7907 non-null   object
 9   max_power      7913 non-null   object
 10  torque         7906 non-null   object
 11  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 762.1+ KB

In [324]:
df.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [325]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   mileage        7907 non-null   object
 8   engine         7907 non-null   object
 9   max_power      7913 non-null   object
 10  torque         7906 non-null   object
 11  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 762.1+ KB

In [326]:
df.describe(include='all')

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,torque,seats
count,8128,8128.000000,8.128000e+03,8.128000e+03,8128,8128,8128,7907,7907,7913,7906,7907.000000
unique,2058,NaN,NaN,NaN,4,2,5,393,121,322,441,NaN
top,Maruti Swift Dzire VDI,NaN,NaN,NaN,Diesel,Manual,First Owner,18.9 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,NaN
freq,129,NaN,NaN,NaN,4402,7078,5289,225,1017,377,530,NaN
mean,NaN,2013.804011,6.382718e+05,6.981951e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.416719
std,NaN,4.044249,8.062534e+05,5.655055e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.959588
min,NaN,1983.000000,2.999900e+04,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
25%,NaN,2011.000000,2.549990e+05,3.500000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
50%,NaN,2015.000000,4.500000e+05,6.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
75%,NaN,2017.000000,6.750000e+05,9.800000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
max,NaN,2020.000000,1.000000e+07,2.360457e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000

In [327]:
# check Missing value
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [328]:
df.dropna(inplace=True)

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7906 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   transmission   7906 non-null   object
 6   owner          7906 non-null   object
 7   mileage        7906 non-null   object
 8   engine         7906 non-null   object
 9   max_power      7906 non-null   object
 10  torque         7906 non-null   object
 11  seats          7906 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 803.0+ KB

In [330]:
df['transmission'] = df['transmission'].map({'Manual': 0, 'Automatic': 1})

In [331]:
df.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,0,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,0,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,0,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,0,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,0,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [332]:
df['engine'] = df['engine'].str.extract(r'(\d+)').astype(int)

In [333]:
df['mileage'] = df['mileage'].str.extract(r'(\d+.\d+)').astype(float)

In [334]:
df['max_power_hp'] = df['max_power'].astype(str).str.extract(r'(\d+\.\d+)').astype(float)

In [335]:
df['max_power'].isnull().sum()

0

In [336]:
df['max_power'].dropna()

0           74 bhp
1       103.52 bhp
2           78 bhp
3           90 bhp
4         88.2 bhp
           ...
8123     82.85 bhp
8124       110 bhp
8125      73.9 bhp
8126        70 bhp
8127        70 bhp
Name: max_power, Length: 7906, dtype: object

In [337]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7906 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   transmission   7906 non-null   int64
 6   owner          7906 non-null   object
 7   mileage        7906 non-null   float64
 8   engine         7906 non-null   int32
 9   max_power      7906 non-null   object
 10  torque         7906 non-null   object
 11  seats          7906 non-null   float64
 12  max_power_hp   4999 non-null   float64
dtypes: float64(3), int32(1), int64(4), object(5)
memory usage: 833.8+ KB

In [338]:
df.dropna(inplace=True)

In [339]:
df['name'].value_counts()

name
Maruti Alto 800 LXI                        82
Maruti Alto LXi                            71
Maruti Wagon R LXI                         53
Maruti Alto K10 VXI                        50
Hyundai EON Era Plus                       48
                                           ..
Hyundai Elite i20 Petrol Magna Exective     1
Fiat Avventura MULTIJET Emotion             1
Ford EcoSport 1.5 Diesel Ambiente BSIV      1
Hyundai Santa Fe 4WD AT                     1
Tata Harrier XZ Plus                        1
Name: count, Length: 1184, dtype: int64

In [340]:
# df.drop(columns=['seller_type'],inplace=True)

In [341]:
df.drop(columns=['max_power'],axis=1,inplace=True)

In [342]:
df.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,torque,seats,max_power_hp
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,0,Second Owner,21.14,1498,250Nm@ 1500-2500rpm,5.0,103.52
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,0,First Owner,16.10,1298,"11.5@ 4,500(kgm@ rpm)",5.0,88.20
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,0,First Owner,20.14,1197,113.75nm@ 4000rpm,5.0,81.86
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,0,First Owner,17.30,1061,"7.8@ 4,500(kgm@ rpm)",5.0,57.50
8,Toyota Etios VXD,2011,350000,90000,Diesel,0,First Owner,23.59,1364,170Nm@ 1800-2400rpm,5.0,67.10

In [343]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4999 entries, 1 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4999 non-null   object
 1   year           4999 non-null   int64
 2   selling_price  4999 non-null   int64
 3   km_driven      4999 non-null   int64
 4   fuel           4999 non-null   object
 5   transmission   4999 non-null   int64
 6   owner          4999 non-null   object
 7   mileage        4999 non-null   float64
 8   engine         4999 non-null   int32
 9   torque         4999 non-null   object
 10  seats          4999 non-null   float64
 11  max_power_hp   4999 non-null   float64
dtypes: float64(3), int32(1), int64(4), object(4)
memory usage: 488.2+ KB

In [344]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4999 entries, 1 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4999 non-null   object
 1   year           4999 non-null   int64
 2   selling_price  4999 non-null   int64
 3   km_driven      4999 non-null   int64
 4   fuel           4999 non-null   object
 5   transmission   4999 non-null   int64
 6   owner          4999 non-null   object
 7   mileage        4999 non-null   float64
 8   engine         4999 non-null   int32
 9   torque         4999 non-null   object
 10  seats          4999 non-null   float64
 11  max_power_hp   4999 non-null   float64
dtypes: float64(3), int32(1), int64(4), object(4)
memory usage: 488.2+ KB

In [345]:
owner_mapping = {'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth & Above Owner': 4, 'Test Drive Car': 0}
df['owner'] = df['owner'].map(owner_mapping)

In [346]:
df.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
transmission     0
owner            0
mileage          0
engine           0
torque           0
seats            0
max_power_hp     0
dtype: int64

In [347]:
df['torque'] = df['torque'].str.extract(r'(\d+\.?\d*)').astype(float)

In [348]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'transmission',
       'owner', 'mileage', 'engine', 'torque', 'seats', 'max_power_hp'],
      dtype='object')

In [349]:
import datetime
current_year = datetime.datetime.now().year
df['car_age'] = current_year - df['year']
df.drop('year',inplace=True, axis=1)

In [350]:
# df.drop('year', axis=1)

In [351]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4999 entries, 1 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4999 non-null   object
 1   selling_price  4999 non-null   int64
 2   km_driven      4999 non-null   int64
 3   fuel           4999 non-null   object
 4   transmission   4999 non-null   int64
 5   owner          4999 non-null   int64
 6   mileage        4999 non-null   float64
 7   engine         4999 non-null   int32
 8   torque         4999 non-null   float64
 9   seats          4999 non-null   float64
 10  max_power_hp   4999 non-null   float64
 11  car_age        4999 non-null   int64
dtypes: float64(4), int32(1), int64(5), object(2)
memory usage: 488.2+ KB

In [352]:
df.head()

,name,selling_price,km_driven,fuel,transmission,owner,mileage,engine,torque,seats,max_power_hp,car_age
1,Skoda Rapid 1.5 TDI Ambition,370000,120000,Diesel,0,2,21.14,1498,250.00,5.0,103.52,10
4,Maruti Swift VXI BSIII,130000,120000,Petrol,0,1,16.10,1298,11.50,5.0,88.20,17
5,Hyundai Xcent 1.2 VTVT E Plus,440000,45000,Petrol,0,1,20.14,1197,113.75,5.0,81.86,7
6,Maruti Wagon R LXI DUO BSIII,96000,175000,LPG,0,1,17.30,1061,7.80,5.0,57.50,17
8,Toyota Etios VXD,350000,90000,Diesel,0,1,23.59,1364,170.00,5.0,67.10,13

In [353]:
type(df)

pandas.core.frame.DataFrame

In [354]:
df.describe()

,selling_price,km_driven,transmission,owner,mileage,engine,torque,seats,max_power_hp,car_age
count,4.999000e+03,4.999000e+03,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000
mean,6.031033e+05,6.333352e+04,0.123225,1.380476,20.018438,1388.353271,162.471110,5.312062,89.449645,9.370674
std,6.358576e+05,5.376272e+04,0.328728,0.656841,3.654000,477.293992,82.970891,0.807525,32.461615,3.249408
min,3.335100e+04,1.000000e+03,0.000000,0.000000,0.000000,624.000000,5.700000,4.000000,32.800000,4.000000
25%,2.900000e+05,3.000000e+04,0.000000,1.000000,17.880000,1194.000000,109.000000,5.000000,67.100000,7.000000
50%,4.950000e+05,5.800000e+04,0.000000,1.000000,20.360000,1248.000000,145.000000,5.000000,83.810000,9.000000
75%,6.965000e+05,8.600000e+04,0.000000,2.000000,22.370000,1498.000000,200.000000,5.000000,98.960000,11.000000
max,6.523000e+06,2.360457e+06,1.000000,4.000000,33.440000,2999.000000,620.000000,10.000000,270.900000,24.000000

In [355]:
df.head()

,name,selling_price,km_driven,fuel,transmission,owner,mileage,engine,torque,seats,max_power_hp,car_age
1,Skoda Rapid 1.5 TDI Ambition,370000,120000,Diesel,0,2,21.14,1498,250.00,5.0,103.52,10
4,Maruti Swift VXI BSIII,130000,120000,Petrol,0,1,16.10,1298,11.50,5.0,88.20,17
5,Hyundai Xcent 1.2 VTVT E Plus,440000,45000,Petrol,0,1,20.14,1197,113.75,5.0,81.86,7
6,Maruti Wagon R LXI DUO BSIII,96000,175000,LPG,0,1,17.30,1061,7.80,5.0,57.50,17
8,Toyota Etios VXD,350000,90000,Diesel,0,1,23.59,1364,170.00,5.0,67.10,13

In [356]:
df.columns

Index(['name', 'selling_price', 'km_driven', 'fuel', 'transmission', 'owner',
       'mileage', 'engine', 'torque', 'seats', 'max_power_hp', 'car_age'],
      dtype='object')

In [359]:
fuel_mapping = {'LPG': 1, 'Diesel': 2, 'Petrol': 3,}
df['fuel'] = df['fuel'].map(fuel_mapping)

In [360]:
df.head()

,name,selling_price,km_driven,fuel,transmission,owner,mileage,engine,torque,seats,max_power_hp,car_age
1,Skoda Rapid 1.5 TDI Ambition,370000,120000,2.0,0,2,21.14,1498,250.00,5.0,103.52,10
4,Maruti Swift VXI BSIII,130000,120000,3.0,0,1,16.10,1298,11.50,5.0,88.20,17
5,Hyundai Xcent 1.2 VTVT E Plus,440000,45000,3.0,0,1,20.14,1197,113.75,5.0,81.86,7
6,Maruti Wagon R LXI DUO BSIII,96000,175000,1.0,0,1,17.30,1061,7.80,5.0,57.50,17
8,Toyota Etios VXD,350000,90000,2.0,0,1,23.59,1364,170.00,5.0,67.10,13

In [ ]:
predicted_price = selling_price

# Adjust for car age
if car_age > 5:
    predicted_price *= (1 - 0.20)  # Deduct 20% if car age is more than 5 years

# Adjust for mileage
if mileage < 15:  # Assuming 15 km/l is a good mileage threshold
    predicted_price *= (1 + 0.10)  # Add 10% for good mileage
elif mileage > 20:
    predicted_price *= (1 - 0.10)  # Deduct 10% for poor mileage

# Adjust for fuel type
if fuel == 'Diesel':
    predicted_price *= (1 + 0.05)  # Add 5% for diesel cars
elif fuel == 'Petrol':
    predicted_price *= (1 - 0.05)  # Deduct 5% for petrol cars

# Adjust for transmission type
if transmission == 'Automatic':
    predicted_price *= (1 + 0.10)  # Add 10% for automatic transmission
else:
    predicted_price *= (1 - 0.05)  # Deduct 5% for manual transmission

# Adjust for number of owners
if owner > 2:
    predicted_price *= (1 - 0.10)  # Deduct 10% for more than 2 owners

# Adjust for engine size and torque
if engine > 2000:  # Example threshold for engine size
    predicted_price *= (1 + 0.10)  # Add 10% for larger engines

# Adjust for seating capacity
if seats > 5:
    predicted_price *= (1 + 0.05)  # Add 5% for more seats

# Ensure predicted price does not exceed selling price
if predicted_price > selling_price:
    predicted_price = selling_price

# Final predicted price
predicted_price

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'selling_price': [10000, 15000, 12000],
    'km_driven': [50000, 30000, 80000],
    'fuel': ['Petrol', 'Diesel', 'Petrol'],
    'transmission': ['Manual', 'Automatic', 'Manual'],
    'owner': [1, 2, 3],
    'mileage': [12, 18, 10],
    'engine': [1500, 2000, 1800],
    'torque': [150, 200, 180],
    'seats': [5, 5, 7],
    'max_power_hp': [100, 150, 120],
    'car_age': [3, 6, 4]
}

df = pd.DataFrame(data)

def calculate_predicted_price(row):
    predicted_price = row['selling_price']

    # Adjust for car age
    if row['

In [ ]:
import pandas as pd
import datetime

# Sample DataFrame with car data
data = {
    'name': ['Car A', 'Car B', 'Car C'],
    'year': [2018, 2015, 2010],  # Year of manufacture
    'selling_price': [10000, 15000, 12000],
    'km_driven': [50000, 30000, 80000],
    'fuel': ['Petrol', 'Diesel', 'Petrol'],
    'transmission': ['Manual', 'Automatic', 'Manual'],
    'owner': [1, 2, 3],
    'mileage': [12, 18, 10],
    'engine': [1500, 2000, 1800],
    'torque': [150, 200, 180],
    'seats': [5, 5, 7],
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate the current year
current_year = datetime.datetime.now().year

# Calculate car age
df['car_age'] = current_year - df['year']

# Initialize predicted_price with a 20% reduction
df['predicted_price'] = df['selling_price'] * 0.8  # 20% reduction base

# Apply adjustments based on car age
df.loc[df['car_age'] <= 5, 'predicted_price'] = df['selling_price']

# Additional adjustments based on various conditions
for index, row in df.iterrows():
    # Adjust for mileage
    if row['mileage'] < 15:
        df.at[index, 'predicted_price'] *= (1 + 0.10)  # Add 10% for good mileage
    elif row['mileage'] > 20:
        df.at[index, 'predicted_price'] *= (1 - 0.10)  # Deduct 10% for poor mileage

    # Adjust for fuel type
    if row['fuel'] == 'Diesel':
        df.at[index, 'predicted_price'] *= (1 + 0.05)  # Add 5% for diesel cars
    elif row['fuel'] == 'Petrol':
        df.at[index, 'predicted_price'] *= (1 - 0.05)  # Deduct 5% for petrol cars

    # Adjust for transmission type
    if row['transmission'] == 'Automatic':
        df.at[index, 'predicted_price'] *= (1 + 0.10)  # Add 10% for automatic transmission
    else:
        df.at[index, 'predicted_price'] *= (1 - 0.05)  # Deduct 5% for manual transmission

    # Adjust for number of owners
    if row['owner'] > 2:
        df.at[index, 'predicted_price'] *= (1 - 0.10)  # Deduct 10% for more than 2 owners

    # Adjust for engine size
    if row['engine'] > 2000:  # Example threshold for engine size
        df.at[index, 'predicted_price'] *= (1 + 0.10)  # Add 10% for larger engines

    # Adjust for seating capacity
    if row['seats'] > 5:
        df.at[index, 'predicted_price'] *= (1 + 0.05)  # Add 5% for more seats

    # Ensure predicted price does not exceed selling price
    if df.at[index, 'predicted_price'] > row['selling_price']:
        df.at[index, 'predicted_price'] = row['selling_price']

# Display the first few rows of the dataframe with the new predicted_price column
print(df[['name', 'selling_price', 'car_age', 'predicted_price']].head())

i am training ml model through dataset, make a formula to get predicted price ,predicted price willl be a new column in which entries will be depending over selling_price', 'km_driven', 'fuel', 'transmission', 'owner', 'mileage', 'engine', 'torque', 'seats', 'max_power_hp', 'car_age , like if car age is more then 5 years then 20% price should be cut from sellling price just a example calculate the predicted price deducting percents from selling price , if selling price is less than predicted tackle that too