In [56]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
df = pd.read_csv(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\Car details v3.csv')

In [58]:
df.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   mileage        7907 non-null   object
 8   engine         7907 non-null   object
 9   max_power      7913 non-null   object
 10  torque         7906 non-null   object
 11  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 762.1+ KB

In [60]:
df.describe(include='all')

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,torque,seats
count,8128,8128.000000,8.128000e+03,8.128000e+03,8128,8128,8128,7907,7907,7913,7906,7907.000000
unique,2058,NaN,NaN,NaN,4,2,5,393,121,322,441,NaN
top,Maruti Swift Dzire VDI,NaN,NaN,NaN,Diesel,Manual,First Owner,18.9 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,NaN
freq,129,NaN,NaN,NaN,4402,7078,5289,225,1017,377,530,NaN
mean,NaN,2013.804011,6.382718e+05,6.981951e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.416719
std,NaN,4.044249,8.062534e+05,5.655055e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.959588
min,NaN,1983.000000,2.999900e+04,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
25%,NaN,2011.000000,2.549990e+05,3.500000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
50%,NaN,2015.000000,4.500000e+05,6.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
75%,NaN,2017.000000,6.750000e+05,9.800000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
max,NaN,2020.000000,1.000000e+07,2.360457e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000

In [61]:
# check Missing value
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [62]:
df.dropna(inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7906 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   transmission   7906 non-null   object
 6   owner          7906 non-null   object
 7   mileage        7906 non-null   object
 8   engine         7906 non-null   object
 9   max_power      7906 non-null   object
 10  torque         7906 non-null   object
 11  seats          7906 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 803.0+ KB

In [64]:
df['transmission'] = df['transmission'].map({'Manual': 0, 'Automatic': 1})

In [65]:
df.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,0,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,0,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,0,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,0,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,0,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [66]:
df['engine'] = df['engine'].str.extract(r'(\d+)').astype(int)

In [67]:
df['mileage'] = df['mileage'].str.extract(r'(\d+.\d+)').astype(float)

In [70]:
df['max_power_hp'] = df['max_power'].astype(str).str.extract(r'(\d+\.\d+)').astype(float)

In [69]:
df['max_power'].isnull().sum()

0

In [75]:
df['max_power'].dropna()

0           74 bhp
1       103.52 bhp
2           78 bhp
3           90 bhp
4         88.2 bhp
           ...
8123     82.85 bhp
8124       110 bhp
8125      73.9 bhp
8126        70 bhp
8127        70 bhp
Name: max_power, Length: 7906, dtype: object

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7906 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   transmission   7906 non-null   int64
 6   owner          7906 non-null   object
 7   mileage        7906 non-null   float64
 8   engine         7906 non-null   int32
 9   max_power      7906 non-null   object
 10  torque         7906 non-null   object
 11  seats          7906 non-null   float64
 12  max_power_hp   4999 non-null   float64
dtypes: float64(3), int32(1), int64(4), object(5)
memory usage: 833.8+ KB

In [77]:
df.dropna(inplace=True)

In [78]:
df['name'].value_counts()

name
Maruti Alto 800 LXI                        82
Maruti Alto LXi                            71
Maruti Wagon R LXI                         53
Maruti Alto K10 VXI                        50
Hyundai EON Era Plus                       48
                                           ..
Hyundai Elite i20 Petrol Magna Exective     1
Fiat Avventura MULTIJET Emotion             1
Ford EcoSport 1.5 Diesel Ambiente BSIV      1
Hyundai Santa Fe 4WD AT                     1
Tata Harrier XZ Plus                        1
Name: count, Length: 1184, dtype: int64

In [ ]:
df.drop(columns=['seller_type'],inplace=True)

KeyError: "['seller_type'] not found in axis"

In [87]:
df.drop(columns=['max_power'],axis=1,inplace=True)

In [52]:
df.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,torque,seats,max_power_hp
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,0,Second Owner,21.14,1498,103.52 bhp,250Nm@ 1500-2500rpm,5.0,103.52
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,0,First Owner,16.10,1298,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,88.20
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,0,First Owner,20.14,1197,81.86 bhp,113.75nm@ 4000rpm,5.0,81.86
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,0,First Owner,17.30,1061,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0,57.50
8,Toyota Etios VXD,2011,350000,90000,Diesel,0,First Owner,23.59,1364,67.1 bhp,170Nm@ 1800-2400rpm,5.0,67.10

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4999 entries, 1 to 8125
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4999 non-null   object
 1   year           4999 non-null   int64
 2   selling_price  4999 non-null   int64
 3   km_driven      4999 non-null   int64
 4   fuel           4999 non-null   object
 5   transmission   4999 non-null   int64
 6   owner          4999 non-null   object
 7   mileage        4999 non-null   float64
 8   engine         4999 non-null   int32
 9   max_power      4999 non-null   object
 10  torque         4999 non-null   object
 11  seats          4999 non-null   float64
 12  max_power_hp   4999 non-null   float64
dtypes: float64(3), int32(1), int64(4), object(5)
memory usage: 527.2+ KB

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4999 entries, 1 to 8125
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4999 non-null   object
 1   year           4999 non-null   int64
 2   selling_price  4999 non-null   int64
 3   km_driven      4999 non-null   int64
 4   fuel           4999 non-null   object
 5   transmission   4999 non-null   int64
 6   owner          4999 non-null   object
 7   mileage        4999 non-null   float64
 8   engine         4999 non-null   int32
 9   max_power      4999 non-null   object
 10  torque         4999 non-null   object
 11  seats          4999 non-null   float64
 12  max_power_hp   4999 non-null   float64
dtypes: float64(3), int32(1), int64(4), object(5)
memory usage: 527.2+ KB

In [88]:
owner_mapping = {'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth & Above Owner': 4, 'Test Drive Car': 0}
df['owner'] = df['owner'].map(owner_mapping)

In [ ]:
df.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
max_power_hp     0
dtype: int64

In [89]:
df['torque'] = df['torque'].str.extract(r'(\d+\.?\d*)').astype(float)

In [90]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'transmission',
       'owner', 'mileage', 'engine', 'torque', 'seats', 'max_power_hp'],
      dtype='object')

In [91]:
import datetime
current_year = datetime.datetime.now().year
df['car_age'] = current_year - df['year']
df = df.drop('year',inplace=True, axis=1)

In [95]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'