In [3]:
List = []

print("Blank List: ")

print(List)

Blank List:
[]

In [4]:
ali = (1,2,3,4,5)

In [5]:
print(ali[0])

1

In [6]:
a,b,c,d,e = ali

In [7]:
print(a,b,c,d,e)

1 2 3 4 5

# for loops

In [2]:
num = [0,1,2,3,4,5]
for i in num: print(i)

0
1
2
3
4
5

In [8]:
#nm = [0,1,2,3,4,5]
for i in range(i):
     print(i)

0
1
2

In [9]:
for i in range(2,10,2):
     print(i)

2
4
6
8

In [12]:
for i in range(4,20,5):
     print(i)

4
9
14
19

In [13]:
TABLE = int(input("enter the number :"))
for a in range(1,11):
    print(TABLE )

1
2
3
4
5
6
7
8
9
10