# MACHINE LEARNING

In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# Creating a simple dataset
# Data: Experience vs. Salary
data = {
    'Experience (Years)': [1, 3, 5, 7, 9, 11],
    'Salary (in $1000)': [30, 40, 50, 60, 80, 100]
}
df = pd.DataFrame(data)

In [3]:
# Splitting the data into features and labels
X = df[['Experience (Years)']]
y = df['Salary (in $1000)']
X

   Experience (Years)
0                   1
1                   3
2                   5
3                   7
4                   9
5                  11

In [4]:
y

0     30
1     40
2     50
3     60
4     80
5    100
Name: Salary (in $1000), dtype: int64