# automobile data analysis

In [46]:
import pandas as pd
import numpy as np

In [47]:
car = pd.read_csv(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\Automobile.csv')

In [48]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    391 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [49]:
car.describe(include='all')

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398,398.000000,398.000000,398.000000,391.000000,398.000000,398.000000,398.000000,398
unique,305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
top,ford pinto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,usa
freq,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249
mean,NaN,23.514573,5.454774,193.425879,104.378517,2970.424623,15.568090,76.010050,NaN
std,NaN,7.815984,1.701004,104.269838,38.498351,846.841774,2.757689,3.697627,NaN
min,NaN,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,NaN
25%,NaN,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,NaN
50%,NaN,23.000000,4.000000,148.500000,93.000000,2803.500000,15.500000,76.000000,NaN
75%,NaN,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,NaN
max,NaN,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,NaN

In [50]:
car.isna().sum()

name            0
mpg             0
cylinders       0
displacement    0
horsepower      7
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [51]:
car.notnull().sum()

name            398
mpg             398
cylinders       398
displacement    398
horsepower      391
weight          398
acceleration    398
model_year      398
origin          398
dtype: int64

In [52]:
#car.notna().sum()

In [53]:
#car.dropna()

In [54]:
car['horsepower']

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [59]:
car['horsepower'].fillna(0, inplace=True)

In [56]:
car.info

<bound method DataFrame.info of                           name   mpg  cylinders  displacement  horsepower  \
0    chevrolet chevelle malibu  18.0          8         307.0       130.0
1            buick skylark 320  15.0          8         350.0       165.0
2           plymouth satellite  18.0          8         318.0       150.0
3                amc rebel sst  16.0          8         304.0       150.0
4                  ford torino  17.0          8         302.0       140.0
..                         ...   ...        ...           ...         ...
393            ford mustang gl  27.0          4         140.0        86.0
394                  vw pickup  44.0          4          97.0        52.0
395              dodge rampage  32.0          4         135.0        84.0
396                ford ranger  28.0          4         120.0        79.0
397                 chevy s-10  31.0          4         119.0        82.0

     weight  acceleration  model_year  origin
0      3504          12.0          70     usa
1      3693          11.5          70     usa
2      3436          11.0          70     usa
3      3433          12.0          70     usa
4      3449          10.5          70     usa
..      ...           ...         ...     ...
393    2790          15.6          82     usa
394    2130          24.6          82  europe
395    2295          11.6          82     usa
396    2625          18.6          82     usa
397    2720          19.4          82     usa

[398 rows x 9 columns]>

In [57]:
car.notna().sum()

name            398
mpg             398
cylinders       398
displacement    398
horsepower      391
weight          398
acceleration    398
model_year      398
origin          398
dtype: int64

In [60]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    398 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB