# EXPLORING SCIKIT LEARN FUNCTIONS

In [33]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

## StandardScaler

In [34]:
df = pd.DataFrame({
    'feature1': [1, 2, 3, 4, 5],
    'feature2': [11, 22, 36, 49, 57]
})
df.columns

Index(['feature1', 'feature2'], dtype='object')

In [35]:
scaler = StandardScaler()

In [36]:
scaled_data1 = scaler.fit_transform(df)
scaled_data1

array([[-1.41421356, -1.42113875],
       [-0.70710678, -0.76978349],
       [ 0.        ,  0.05921411],
       [ 0.70710678,  0.8289976 ],
       [ 1.41421356,  1.30271052]])

In [37]:
scaled_df = pd.DataFrame(scaled_data1, columns=df.columns)
scaled_df

   feature1  feature2
0 -1.414214 -1.421139
1 -0.707107 -0.769783
2  0.000000  0.059214
3  0.707107  0.828998
4  1.414214  1.302711

## MinMaxScaler

In [38]:
minmaxscaler = MinMaxScaler()

In [39]:
df

   feature1  feature2
0         1        11
1         2        22
2         3        36
3         4        49
4         5        57

In [40]:
scaled_data = minmaxscaler.fit_transform(df)
scaled_data

array([[0.        , 0.        ],
       [0.25      , 0.23913043],
       [0.5       , 0.54347826],
       [0.75      , 0.82608696],
       [1.        , 1.        ]])

In [41]:
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df

   feature1  feature2
0      0.00  0.000000
1      0.25  0.239130
2      0.50  0.543478
3      0.75  0.826087
4      1.00  1.000000

## LabelEncoder

In [42]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Apart from colors like "Red," "Blue," and "Green," LabelEncoder can be used for a wide variety of categorical data in real-world scenarios. Here are some common use cases:

- 1. Gender Classification
- Column: Gender
- Values: "Male", "Female", "Other"
- Encoding:
- "Male" → 1
- "Female" → 0
- "Other" → 2