# diabetes dataset

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'D:\Data-Science\Dataset\diabetes_012_health_indicators_BRFSS2015.csv')

# Health Indicators and Attributes

## Diabetes Diagnosis Levels
- **Diabetes_012**:
  - `0`: No diabetes
  - `1`: Prediabetes
  - `2`: Diabetes

## Blood Pressure
- **HighBP** (High Blood Pressure):
  - `0`: No
  - `1`: Yes

## Cholesterol
- **HighChol** (High Cholesterol):
  - `0`: No
  - `1`: Yes
- **CholCheck** (Cholesterol Check):
  - `0`: No
  - `1`: Yes

## Body Mass Index
- **BMI** (Body Mass Index): Continuous variable representing BMI value.

## Smoking Status
- **Smoker**:
  - `0`: No
  - `1`: Yes

## Stroke History
- **Stroke**:
  - `0`: No
  - `1`: Yes

## Heart Disease
- **HeartDiseaseorAttack**:
  - `0`: No
  - `1`: Yes

## Physical Activity
- **PhysActivity** (Physical Activity):
  - `0`: No
  - `1`: Yes

## Dietary Habits
- **Fruits**:
  - `0`: Does not consume fruits regularly
  - `1`: Consumes fruits regularly
- **Veggies**:
  - `0`: Does not consume vegetables regularly
  - `1`: Consumes vegetables regularly

## Alcohol Consumption
- **HvyAlcoholConsump** (Heavy Alcohol Consumption):
  - `0`: No
  - `1`: Yes

## Healthcare Access
- **AnyHealthcare**:
  - `0`: No healthcare access
  - `1`: Has healthcare access
- **NoDocbcCost** (No Doctor Due to Cost):
  - `0`: No financial barriers to doctor visits
  - `1`: Avoided doctor visits due to cost

## Health Ratings
- **GenHlth** (General Health):
  - `1-5`: Self-reported general health, with 1 being excellent and 5 being poor.

## Mental and Physical Health
- **MentHlth** (Mental Health): Number of days in the past 30 days when mental health was not good.
- **PhysHlth** (Physical Health): Number of days in the past 30 days when physical health was not good.

## Mobility
- **DiffWalk** (Difficulty Walking):
  - `0`: No
  - `1`: Yes

## Demographics
- **Sex**:
  - `0`: Female
  - `1`: Male
- **Age**: Encoded as intervals or specific groups (e.g., `1` = 18-24, `2` = 25-29, etc.)
- **Education**: 
  - `1-6`: Educational attainment levels (e.g., `1` = less than high school, `6` = college graduate).
- **Income**:
  - `1-8`: Income brackets (e.g., `1` = less than $10k, `8` = $75k or more).

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [4]:
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0