# basic to panda

In [2]:
a =1
b=2
a+b

3

In [3]:
a = [1,2,3]
type(a)

list

In [4]:
a = (1,2,3)
type(a)

tuple

In [5]:
a = {1,2,3}
type(a)

set

In [6]:
a = {1:'a',2:'b',3:'c'}
type(a)

dict

In [7]:
id(a)

3130704439424

In [9]:
name = input('Name')
print(name)

ali hasan

Implicit Type Casting: Done automatically by Python. <br>
Explicit Type Casting: Done manually by the programmer using Python functions such as int(), float(), str(), etc.

In [ ]:
# convert string to int

In [3]:
# Example: Explicit Type Casting
# Converting a float to an integer
num_float = 9.8
num_int = int(num_float)  # Explicit conversion

print("Float value:", num_float)
print("Integer value after casting:", num_int)

# Converting a string to an integer
num_str = "123"
num_int_from_str = int(num_str)  # Explicit conversion from string to int

print("String value:", num_str)
print("Integer value after casting from string:", num_int_from_str)

Float value: 9.8
Integer value after casting: 9
String value: 123
Integer value after casting from string: 123

In [4]:
# Sample customer feedback dataset as lists
customer_ids = [101, 102, 103, 104, 105]
feedback = [
    "  Excellent service and fast delivery!!   ",
    "Horrible support, never ordering again...",
    "Great quality but packaging was bad. ",
    "    Amazing product, will recommend.    ",
    "Not happy with the product!   "
]

# for loop

In [6]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [7]:
for i in range(1,9,3):
    print(i)

1
4
7

In [15]:
a = [23,45,67,89,1]
for i in reversed(a):
    print(i)
    # if i == 45:
    #     break

1
89
67
45
23

In [ ]:
# a in decending order
a = [23,45,67,89,1]
for i in sorted(a,reverse=True):
    print(i)
    # if i == 45:
    #     break

In [17]:

num1 = input('tell the number')
num2 = int(input('find the num'))
# first input se string milrhi hai
# second input se index lerha hai output mein jo index diya hoga uspr to char hoga ajayega
num1[num2]

'i'

# slicing

In [18]:
str1 = "ALI HASAN"

In [31]:
print(str1[0:3])
print(str1[:3])
print(str1[:])
print(str1[::-2])

ALI
ALI
ALI HASAN
NSHIA

# data Types 
## LIST

In [32]:
fruit = ['apple', 'orange', 'mango','watermelon', 'guava']
print(fruit[1])

orange