# basic to panda

In [2]:
a =1
b=2
a+b

3

In [3]:
a = [1,2,3]
type(a)

list

In [4]:
a = (1,2,3)
type(a)

tuple

In [5]:
a = {1,2,3}
type(a)

set

In [6]:
a = {1:'a',2:'b',3:'c'}
type(a)

dict

In [7]:
id(a)

3130704439424

In [9]:
name = input('Name')
print(name)

ali hasan

Implicit Type Casting: Done automatically by Python. <br>
Explicit Type Casting: Done manually by the programmer using Python functions such as int(), float(), str(), etc.

In [ ]:
# convert string to int

In [3]:
# Example: Explicit Type Casting
# Converting a float to an integer
num_float = 9.8
num_int = int(num_float)  # Explicit conversion

print("Float value:", num_float)
print("Integer value after casting:", num_int)

# Converting a string to an integer
num_str = "123"
num_int_from_str = int(num_str)  # Explicit conversion from string to int

print("String value:", num_str)
print("Integer value after casting from string:", num_int_from_str)

Float value: 9.8
Integer value after casting: 9
String value: 123
Integer value after casting from string: 123

In [4]:
# Sample customer feedback dataset as lists
customer_ids = [101, 102, 103, 104, 105]
feedback = [
    "  Excellent service and fast delivery!!   ",
    "Horrible support, never ordering again...",
    "Great quality but packaging was bad. ",
    "    Amazing product, will recommend.    ",
    "Not happy with the product!   "
]

# for loop

In [6]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [7]:
for i in range(1,9,3):
    print(i)

1
4
7

In [15]:
a = [23,45,67,89,1]
for i in reversed(a):
    print(i)
    # if i == 45:
    #     break

1
89
67
45
23

In [ ]:
# a in decending order
a = [23,45,67,89,1]
for i in sorted(a,reverse=True):
    print(i)
    # if i == 45:
    #     break

In [17]:

num1 = input('tell the number')
num2 = int(input('find the num'))
# first input se string milrhi hai
# second input se index lerha hai output mein jo index diya hoga uspr to char hoga ajayega
num1[num2]

'i'

# slicing

In [18]:
str1 = "ALI HASAN"

In [31]:
print(str1[0:3])
print(str1[:3])
print(str1[:])
print(str1[::-2])

ALI
ALI
ALI HASAN
NSHIA

# data Types 
## LIST

In [32]:
fruit = ['apple', 'orange', 'mango','watermelon', 'guava']
print(fruit[1])

orange

*list mein add krne keliye append use hota hai*
### Create
### Retrieve
### Update 
### Delete
### Slice

list.insert(index, element) <br>
index → The position where you want to insert the element. <br> 
element → The value to insert <br>

In [36]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
a.insert(19,21)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 20]

In [37]:

list1 = [1,2,3,4,5,6,7,8,9]
list2 = [10,11,12,13,14,15]

list3 = []
list3.append(list1)
list3.extend(list2)
list3

[[1, 2, 3, 4, 5, 6, 7, 8, 9], 10, 11, 12, 13, 14, 15]

### Deleting items from a list
   - del 
   - pop() 
   - remove()
   - clear()

In [42]:
items = ['pen', 'pointer', "place"]

In [39]:
del items[1]
items

['pen', 'place']

In [40]:
# pop deletes a member permanently
# pop automatically deletes from last index
# pop can also take an index 
# pop return the deleted value
items.pop()

'place'

In [43]:
items

['pen', 'pointer', 'place']



# *dictionary* {name:value}

Method	Description
- clear()	Removes all the elements from the dictionary
- copy()	Returns a copy of the dictionary
- fromkeys()	Returns a dictionary with the specified keys and value
- get()	Returns the value of the specified key
- items()	Returns a list containing a tuple for each key value pair
- keys()	Returns a list containing the dictionary's keys
- pop()	Removes the element with the specified key
- popitem()	Removes the last inserted key-value pair
- setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified
value
- update()	Updates the dictionary with the specified key-value pairs
- values()	Returns a list of all the values in the dictionary

In [58]:
dict1 = {"name":'john doe','age':20,'gender':'male','birth_year':2000,'birth_place':'india'}
print(dict1)
print(dict1.keys())

{'name': 'john doe', 'age': 20, 'gender': 'male', 'birth_year': 2000, 'birth_place': 'india'}
dict_keys(['name', 'age', 'gender', 'birth_year', 'birth_place'])