.ravel/.flatten kisi bhi dim ko 1d mei krdega

.sum true ko plus krdeta hai true 1 ko represent krta hai

@ / .dot multiply krna

# pandas

In [1]:
import pandas as pd

In [3]:
# Creating a Series from a list
data = [10, 20, 30, 40, 50,60]
series = pd.Series(data, dtype='int')

print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int32

In [4]:
s2 = pd.Series([12,24,36,12,6,12,24], index=['apples','oranges','bananas', 'samosas','rolls', 'chickens', 'coldrinks'])
# labels / string indices / costomize index
print(s2)

apples       12
oranges      24
bananas      36
samosas      12
rolls         6
chickens     12
coldrinks    24
dtype: int64

In [5]:
s2[1]

C:\Users\dilib.DESKTOP-GTP80ID\AppData\Local\Temp\ipykernel_8200\2825080482.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[1]

24

In [16]:
s2.index[1]

'oranges'

In [20]:
s2[4]

C:\Users\dilib.DESKTOP-GTP80ID\AppData\Local\Temp\ipykernel_8200\3737454092.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[4]

6

In [21]:
s2['apples']

12

In [22]:
s2.index

Index(['apples', 'oranges', 'bananas', 'samosas', 'rolls', 'chickens',
       'coldrinks'],
      dtype='object')

In [24]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)

print("Pandas DataFrame:")
df

Pandas DataFrame:

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [26]:
# Basic operations
print("Shape of DataFrame:", df.shape)
print("\nSummary statistics:")
print(df.describe())

Shape of DataFrame: (3, 3)

Summary statistics:
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [36]:
df.describe(
   # percentiles=[0.272849029, 0.5, 0.776392835]
)

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0